

.blibble__container {
  display: grid;
  grid-template-columns: 50% 35%;
  gap: 15%;
}

.blibble__intro {
  justify-content: center;
  text-align: center;
  margin: 15% auto 0;
}

.blibble__intro p {
  margin: 2rem 0 2.6rem;          /* top - left/right - bottom  */
  color: var(--color-light);
}

.blibble-img__container {
  width: 80%;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  margin: auto auto;
}

.blibble-img {
  border-radius: 2rem;
  overflow: hidden;
  transition: var(--transition);
}










/* ==== CTA Buttons ==== */

.blibble-cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ==== Socials ==== */

.blibble_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 25rem;        /*Was set for tutorial to 3rem*/
}

/* .header_socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
} */
